@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  scroll-behavior: smooth;
}

@layer utilities {
  .c-space {
    @apply px-5 sm:px-10;
  }
  .text-balance {
    text-wrap: balance;
  }
  .orange-gradient {
    background: #ed3b32;
    background: linear-gradient(-90deg, #ed3b32 0%, rgba(60, 51, 80, 0) 80%);
    background: -webkit-linear-gradient(
      -90deg,
      #ed3b32 0%,
      rgba(60, 51, 80, 0) 80%
    );
  }

  .grid-card {
    /* background: rgba(60, 51, 80, 0); */
    /* border: 1px solid #ed3b32; */
    @apply orange-gradient overflow-hidden rounded-lg;
  }

  /* hero section */
  .hero_tag {
    @apply text-center text-3xl font-black !leading-normal sm:text-4xl md:text-5xl xl:text-6xl;
  }
  .text-gray_gradient {
    @apply bg-gradient-to-r from-[#BEC1CF] from-60% via-[#D5D8EA] via-60% to-[#D5D8EA] to-100% bg-clip-text text-transparent;
  }

  /* about section */
  .grid-container {
    @apply grid-card relative flex h-full w-full flex-col gap-5 rounded-lg border border-black-300 bg-black-200 p-4 sm:p-7;
  }

  .grid-headtext {
    @apply mb-2 font-generalsans text-xl font-semibold text-white;
  }

  .grid-subtext {
    @apply font-generalsans text-base text-[#afb0b6];
  }

  .waving-hand {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
